#firstRowHomePage {
    min-height: 100vh;
    background-image: url("img/FondDev.jpg");
    background-position: center;
}

#text-presentation {
    background-color: #0c0c0ce0;
    padding-top: 150px;
}

.description {
    max-width: 550px;
    margin: 15px auto;
    font-size: 16px;
}

.text-bienvenue {
    font-size: 22px;
}

.big-text {
    font-size: 50px;
    font-weight: bold;
}

#mouseBtn i {
    color: white;
    font-size: 40px;
    transform: rotate(180deg);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transition: 0.5s;
}

#mouseBtn i:hover {
    transform: scale(2);
    cursor: pointer;
    color: cornflowerblue;
}

.profilPhoto {
    width: 450px;
    /* max-width: 100%; */
    border-radius: 25%;
}

.btn-social-share {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.all-skills .card-img-top{
    max-width: 100px;
    margin: auto;
}

a {
    text-decoration: none;
}

#about {
    background-color: #2e3135;
}

a.nav-link.active {
    color: blue !important;
}

#navbarSite {
    transition: 0.8s;
}