/* Color variables */


.main-content-website section:nth-child(2n){
    background-color: #2e3135;
}

#firstRowHomePage {
    min-height: 100vh;
    background-image: url("img/FondDev.jpg");
    background-position: center;
}

#text-presentation {
    background-color: #0c0c0ce0;
    padding-top: 150px;
}

.description {
    max-width: 550px;
    margin: 15px auto;
    font-size: 16px;
}

.text-bienvenue {
    font-size: 22px;
}

.big-text {
    font-size: 50px;
    font-weight: bold;
}

#mouseBtn i {
    color: white;
    font-size: 40px;
    transform: rotate(180deg);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transition: 0.5s;
}

#mouseBtn i:hover {
    transform: scale(2);
    cursor: pointer;
    color: cornflowerblue;
}

.profilPhoto {
    width: 450px;
    /* max-width: 100%; */
    border-radius: 25%;
}

.btn-social-share {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.all-skills .card-img-top{
    max-width: 100px;
    margin: auto;
}

a {
    text-decoration: none;
}

a.nav-link.active {
    color: blue !important;
}

#navbarSite {
    transition: 0.8s;
    z-index: 1000;
}

.description-release {
    color: #8b8c8d;
}

.carousel-indicators .active {
    background-color: red;
}

.img-thumbnail {
    max-width: 75%;
}

#scroll-top-btn {
    position:fixed;
    bottom: 10px;
    right: 10px;
    background-color: red;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s
}

#scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
}